<div id="contacts-view-control" class="row">

  <div class="col-xs-12">
    <button id="btn-new-contact" class="btn btn-primary">New Contact</button>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        More
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation" class="dropdown-header">Sort by</li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#sort-last-name">Last
            Name</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#sort-first-name">First Name</a>
        </li>
      </ul>
    </div>

  </div>

</div>

<hr>
<div class="row">

  <div class="col-xs-12">
  <table id="table-contacts"
         class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
  </div>

</div>
