<div class="row">
  <div class="col-sm-12">
    <button id="btn-delete-contact" class="btn btn-primary">Delete Contact</button>
  </div>
</div>

<hr>
<form id="form-contact" role="form">

  <div class="row form-group">

    <div class="col-sm-4">

      <div class="row form-group">
          <div class="col-xs-12">
            <input type="text" class="form-control" id="name" placeholder="Name">
          </div>
      </div>

      <div class="row form-group">
        <div class="col-xs-12">
          <input type="email" class="form-control" id="email" name="email"
                 placeholder="Email">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-xs-12">
          <input type="tel" id="phone" class="form-control" name="phone"
                 placeholder="Phone">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-xs-12">
          <input type="text" id="address" class="form-control" name="address"
                 placeholder="Address">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-xs-12">
          <input type="hidden" id="hidden" value="0">
        </div>
      </div>

    </div>

    <div class="col-sm-5">
      <textarea id="notes" class="form-control"
                rows="8" cols="20" placeholder="Add a Note"></textarea>
    </div>

  </div>

  <div class="row form-group">
    <div class="col-xs-12">
      <button type="submit" class="btn btn-primary">Ok</button>
      <button id="btn-cancel" class="btn btn-primary">Cancel</button>
    </div>

  </div>

</form>


